<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/">Library</a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/create"><i class="fas fa-book"></i> Create </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#edit"><i class="fas fa-edit"></i> Edit </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#delete"><i class="fas fa-trash-alt"></i> Delete </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/#list"><i class="fas fa-list-ul"></i> List </a>
				</li>
			</ul>
		</div>
	</div>
</nav>
